<div class="main-form">
    <h1>Profile</h1>
    <div class="profile-card">
        <img src="/imgs/{{userInfo.profilePic}}" alt="" width="150px" height="150px">
        <h1>{{userInfo.username}}</h1>
        <h2>{{userInfo.email}}</h2>
        <h2>********</h2>

        <br><br>

        <a class="shadow p-3 mb-5 bg-white rounded" href="/users/edit/{{userInfo._id}}">Edit Profile</a>

    </div>
</div>