/* BODY STYLING */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.task
{
    text-align: center;
}

a:hover
{
    text-decoration: none!important;
}


.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex > *
{
    margin: 0em 1em;
    padding: 1em;
}

.task
{
    text-align: center;
}

.container
{
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 1em 0em; */
}

/* NAV STYLING */
nav
{
    background-color: rgb(9, 136, 186);
    padding-top: 0.8em;
}

.nav-flex
{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-flex h2
{
    color: white;
}

ul
{
    display: flex;
    list-style: none;
}

ul > *
{
    margin: 0em 1em;
}

ul a:hover, ul a:active, ul a:visited, ul a:link
{
    color: darkorange;
    text-decoration: none;
    font-weight: 900;
}

/* ALL INPUT STYLES */
input[type="text"], input[type="email"], input[type="password"]
{
    display: block;
    border: none;
    border-bottom: 1px solid rgb(118, 210, 176);
    padding: 1em 0em;
    width: 50%;
}

input[type="submit"]
{
    display: block;
    border: none;   
    padding: 0.5em 0em;
    width: 50%;
    background: rgb(231, 231, 231);
}

/* Signup */
.main-form
{
    min-height: 90vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.main-form > h1
{
    font-family: 'Calibri';
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 3em;
    color: rgb(15, 173, 154);
    text-align: center;
    margin-top: -1em;
    padding: 0.3em 0em;
}


.card > h1
{
    font-family: 'Calibri';
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 3em;
    color: rgb(15, 173, 154);
}


.card > h1, .profilePic
{
    display: block;
    text-align: center;
}

.row-head
{
    min-height: 35vh;
}

.profilePic
{
    padding-top: 1em;
}

.card
{
    position: relative;
    color: #333;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 3em 0em;
    margin: 3em;
}


.cardz
{
    position: relative;
    color: #333;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 1em;
    /* margin: 3em; */
}

form > *, form input
{
    display: block;
    margin: 0 auto;
}

/* EDITING TEXT */
input[type='text']#username
{
    background: url('/images/user-regular.png');
    background-position: 15px 35px;
    background-repeat: no-repeat;
    background-size: 17px 20px;
    padding-left: 2.5em;
}

input[type='text']
{
    padding-top: 2em;
}

input[type='text']::placeholder
{
    position: absolute;
    top: 48%;
}


/* EDITING EMAIL */
input[type='email']
{
    background: url('/images/envelope-regular.png');
    background-position: 15px 35px;
    background-repeat: no-repeat;
    background-size: 17px 20px;
    padding-left: 2.5em;
    padding-top: 2em;
}

input[type='email']::placeholder
{
    position: absolute;
    top: 48%;
}



/* EDITING PASSWORD */
input[type='password']
{
    background: url('/images/lock-solid.png');
   background-position: 15px 35px;
    background-repeat: no-repeat;
    background-size: 17px 20px;
    padding-left: 2.5em;
    padding-top: 2em;
}

input[type='password']::placeholder
{
    position: absolute;
    top: 48%;
}


input
{
    font-size: 1.2em;
}

input:focus
{
    outline: none;
}

.box
{
    position: relative;
    width: 300px;
    height: 200px;
}


.box button, .box form
{
    z-index: 5;
}



/* LOGIN */
#log-button
{
    /* margin: 1em auto; */
}

/* Home Page */
.main
{
    text-align: center;
}

.main > *
{
    margin: 1em;
}

.main h1 span
{
    color: darkorange;
}

.main h1
{
    font-size: 4em;
}

.main h3
{
    font-size: 1.2em;
}

/* DASHBOARD STYLING */
.task{
    font-size: 3em;
    padding: 1em;
}

.no-tasks
{
    text-align: center;
    color: red;
}

.task-btn
{
    display: block;
    margin: 3em auto 0em auto;
    width: 25%;
    padding: 0.5em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: darkturquoise;
}


.task-btn
{
    text-decoration: none;
    color: white;
}

table
{
    width: 100%;
}

table tr td
{
    padding: 1em 0em;
}

.table-tasks
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.table-tasks button
{
    border: none;
    background-color: inherit;
}

.table-tasks i
{
    font-size: 1.2em;
}

/* Profile Card */
.profile-card
{
    position: relative;
    color: #333;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 3em 0em;
    max-width: 500px;
    margin: 0 auto;
    padding: 5em;
    text-align: center;
}

.profile-card img
{
    border-radius: 100%;
    margin-bottom: 2em;
}

/* LOGIN */
#log
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#login-btn
{
    margin-top: 2em;
}

#log > :nth-child(1), #log > :nth-child(2)
{
    padding: 0em 0em;
}

 textarea
 {
     display: block;
     width: 50%;
     border: 4px solid rgb(118, 210, 176);
     margin: 0 auto!important;
     padding: 0.5em;
     /* border-radius: 6px; */
     outline: none;
     border-right: none;
     border-bottom: none;
     border-top: none;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
     resize: none;
 }


 .cancel-btn
 {
    display: block;
    padding: 0.5em 0em;
    width: 50%;
    background: red;
    margin: 0 auto;
    text-align: center;
    color: white;
 }

 .cancel-btn:hover
 {
     color: white!important;
 }

 /* ERROR MESSAGES */
 .err-msg
 {
     background-color: rgb(255, 213, 220);
     color: red;
     display: block;
    margin: 0.5em auto;
    width: 50%;
    padding: 1em;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 0.8em;
 }

 .btn
 {
     cursor: pointer;
 }

 @media(max-width: 768px)
 {
     .nav-flex
{
    min-height: 10vh;
    display: flex;
  flex-direction: column;
}

.nav-flex > *
{
    padding: 0.5em 0em;
}

.nav-flex ul
{
    background: rgba(0, 0, 0, 0.2);
}
 }


 .singleTask
 {
     min-height: 80vh;
     text-align: center;
 }

  .singleTask h5
  {
      background-color: rgb(231, 231, 231);
      padding: 0.2em 2em;
      margin-bottom: 4em;
      border-radius: 3px;
  }

  .singleTask h6
  {
      margin-top: -1em;
      opacity: 0.5;
      font-size: 1em;
  }

  .singleTask > *
  {
      padding: 0.5em 0em;
  }